<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<h1> Styles </h1>


  <table>
    <% @styles.each do |style| %>
        <tr>
          <td> <strong> <%= link_to style.name, style %> </strong> </td>
          <td></td>
          <td> <button type="button" class="btn btn-light btn-sm" data-container="body" data-toggle="popover" data-placement="right" data-content= <%= style.description %> >
          Description </button> </td>
          <td></td>
        </tr>
    <% end %>
  </table>